@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #f5f6f7;
    --text-color: black;
    --main-color: #808a92;
    --white-color: black;
    --shadow-color: rgba(251, 247, 247, 0.2);
}

*::selection {
    background: var(--main-color);
    color: var(--bg-color);
}

.dark-mode {
    --bg-color: #303336;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

/* Dark mode for navbar links */
.dark-mode .header.sticky .navbar a {
    color: #f5f6f7;
}

.dark-mode .navbar a {
    color: #f5f6f7;
}

.dark-mode #darkMode-icon {
    color: #f5f6f7;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

img {
    border-radius: 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 7%;
    background: transparent;
    display: flex;
    align-items: center;

    justify-content: space-between; /* Ensures the content is spaced out */

    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo img {
    height: 65px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
    border-radius: 0;

}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}





.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 1.8rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.8rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {

    0%,
    20% {
        transform: rotate(0deg);
    }

    25%,
    45% {
        transform: rotate(-90deg);
    }

    50%,
    70% {
        transform: rotate(-180deg);
    }

    75%,
    95% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
    width: 220px;
    text-align: center;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    z-index: -1;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50vh solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 50vh solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    position: absolute;
    bottom: 0;
    right: 40px;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;
}

span {
    color: var(--main-color);
}





.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img {
    width: 40vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

.about-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 1.5rem 3rem 0;
    transition: .5s ease;
}

.about-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}







.services {
    min-height: auto;
}

.services h2 {
    margin-bottom: 5rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Ensures all boxes stretch to the same height */
    flex-wrap: wrap;
    gap: 2rem;

}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures even spacing within the box */
}

.services-container .services-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.8rem;
    margin: 1rem 0 3rem;
    flex-grow: 1; /* Ensures the paragraph grows to fill the available space */
}






/* Styles specific to the skills section */
.skills-section {
    text-align: center;
    min-height: auto; /* Override the min-height if inherited from section styles */
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-section h2 {
    margin-bottom: 5rem;
}

.skill {
    width: 100px;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.skills-wrapper {
    max-width: 90rem;
    width: 100%;
    margin: 0 auto; /* Center the skills-wrapper */
}

.skill i {
    font-size: 80px;
    color: #303336;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.skill p {
    font-size: 1.8rem; /* Increase the font size for the paragraph text */
}

.skill:hover {
    transform: scale(1.1);
    color: #808a92; /* Change color on hover */
}

.skill:hover i {
    color: #808a92; /* Change icon color on hover */
}

/* Dark mode specific styles */
.dark-mode .skill i {
    color: var(--text-color);
}

.dark-mode .skill:hover i {
    color: #808a92; /* Change icon color on hover */
}





.projects {
    min-height: auto;
    /*padding-bottom: 7rem;*/
}

.projects h2 {
    margin-bottom: 4rem;
}

.projects .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.projects-box img {
    width: 100%;
    transition: .5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .8), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.projects-box:hover .projects-layer {
    opacity: 1;
}

.projects-layer h4 {
    font-size: 3rem;
}

.projects-layer p {
    font-size: 1.8rem;
    margin: .3rem 0 1rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.projects-layer a i {
    font-size: 2rem;
    color: #333;
}





/* Reviews Section */
.reviews-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10rem 7% 2rem;
}

.reviews-container .reviews-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.reviews-wrapper .reviews-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.reviews-content .reviews-slide {
    display: flex;
    align-items: center;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.reviews-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    text-align: center;
}

.reviews-left img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
    margin-bottom: 1rem;
}

.reviews-left h3 {
    font-size: 2rem;
}

.reviews-left h3 a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.reviews-left h3 a:hover {
    color: #3498db;
}

.reviews-right {
    width: 75%;
    padding-left: 2rem;
}

.reviews-right p {
    font-size: 1.8rem;
    text-align: left;
}

.reviews-box .swiper-button-next,
.reviews-box .swiper-button-prev {
    color: var(--main-color);
}

.reviews-box .swiper-button-next {
    right: 0;
}

.reviews-box .swiper-button-prev {
    left: 0;
}

.reviews-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.reviews-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}






.contact {
    min-height: auto;
    /*padding: 5rem 1rem;*/
    padding: 10rem 7% 5rem;

}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
    width: 49%;
    border: 1px solid var(--text-color);
}

.contact form textarea {
    resize: none;
    border: 1px solid var(--text-color);
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}





.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.8rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container .profession-box {
        right: -12%;
    }

    .home .profession-container .overlay {
        right: -6%;
    }

    .home-img img {
        right: 0;
        max-width: 420px;
    }
}



@media (max-width: 1100px) {
    .header {
        padding: 2rem 3%;
    }

    .navbar a:nth-child(1) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -25%;
    }

    .home .profession-container .overlay {
        right: -15%;
    }

    .home-img img {
        max-width: 400px;
    }

    .skill {
        width: auto;
    }

    .skill i {
        font-size: 70px;
    }

    .skill p {
        font-size: 1.8rem; /* Adjust the font size for smaller screens */
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 896px) {
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .home .profession-container .profession-box {
        right: -50%;
    }

    .home .profession-container .overlay {
        right: -43%;
    }

    .projects .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}




@media (max-width: 768px) {
    .header {
        padding: 1.5rem 3%;
    }

    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 10rem 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container {
        display: none;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 70vw;
        margin-top: -2rem;
    }

    .skill i {
        font-size: 6.5rem;
        width: auto;
    }

    .skill p {
        font-size: 1.8rem; /* Adjust the font size for smaller screens */
    }

    .reviews-container .reviews-wrapper {
        padding: 5rem 0;
    }

    .reviews-content .reviews-slide {
        padding: 3rem 2rem;
    }

    .reviews-box .swiper-button-next,
    .reviews-box .swiper-button-prev {
        display: none;
    }
}




@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .logo img {
        height: 40px; /* Adjust the height as needed */
        object-fit: cover; /* Ensure the image maintains its aspect ratio */
        border-radius: 0;

    }

    .home {
        padding: 15rem 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h1 {
        font-size: 4.5rem;
    }




    .about-img img {
        width: 90vw;
    }



    .projects .projects-container {
        grid-template-columns: 1fr;
    }




    .reviews-container {
        width: 100vw;
    }

    .reviews-container .reviews-wrapper {
        width: 100vw;
    }




    .contact form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
